# Dependencies
node_modules/

# Build outputs
dist/
.vite/
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
# .env
# .env.*
!.env.example

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo
